input/*
output/*
output/hysplit/kml/*
output/hysplit/plots/*
hysplit_model_output/*
log/*
db/*.sqlite3
*.swp
database.yml
doc/*
CONTROL
MESSAGE
*.CFG
documents/*.pdf
documents/*.aux
documents/styles/*.aux
documents/*.log
documents/*.dvi
documents/design-final.tex
